*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/terp.plugin/target_1/
/autocompletetextfiled/target/
/JavaFXApplication12/nbproject/private/
/JavaFXApplication12/dist/
/JavaFXApplication12/build/